#overviewGroup,
.workspace-animation,
.app-folder-dialog {
  background:#161e27;
  box-shadow:none; 
}

#panel,
.dash-background,
.overview-icon,
.overview-tile,
.calendar-day-heading,
.calendar-day,
.calendar-month-label,
.calendar .calendar-month-header .pager-button {
  background-color:transparent;
}

.app-folder,
.workspace-thumbnail,
.quick-toggle-menu,
.search-entry,
.grid-search-result:hover, 
.overview-tile:focus, 
.grid-search-result:focus, 
.overview-tile:selected, 
.grid-search-result:selected,
.events-button,
.button,.icon-button,.message .message-header .message-expand-button,.message .message-header .message-close-button,.screenshot-ui-show-pointer-button,.login-dialog-button.cancel-button,.login-dialog-button.switch-user-button,.login-dialog-button.login-dialog-session-list-button {
  background-color: rgba(255, 255, 255, 0.1);
}

.screenshot-ui-type-button {
  background-color:#1e4851;
}

  .screenshot-ui-type-button:hover {
    background-color:st-lighten(#1e4851, 5%);
  }

  .screenshot-ui-type-button:checked {
    background-color:st-lighten(#1e4851, 7%);
  }
  
.dash-separator {
  background-color:rgba(255,255,255,.3);
}

.show-apps {
  width:64px;
  height:64px;
}

.app-folder-dialog .page-navigation-arrow {
  background-color:rgba(0,0,0,.1);
  margin-left:20px;
  margin-right:20px;
}

.screenshot-ui-panel,
.switcher-list,
.modal-dialog,
.popup-menu-content {
  background:#073642;
  border:none;
}
 
.osd-window,
.panel-button,
.clock {
  /* background:#161e27; */
  background:rgba(0,0,0,.2);
  color:rgba(255,255,255,.75);
  border-radius:10px;
  box-shadow:inset 0 0 0 0 rgba(0,0,0,0);
  font-family:"JetBrains Mono",sans-serif;
  font-weight:500;
}

.osd-window {
  background:#073642;
}

.osd-window .level {
  -barlevel-background-color:rgba(255,255,255,0.05);
  -barlevel-active-background-color:rgba(255,255,255,0.5);
}

/* dnd icon */
.clock-display-box :last-child {
  /*width:0px;*/
}
  
.events-button,
.message {
   background-color:st-lighten(#073642, 3%);
}

.message-list-controls,
.message-header {
  color:rgba(255,255,255,.5);
}
  
.message-content,
.events-title,
.datemenu-today-button {
  color:rgba(255,255,255,.8);
}
  
.calendar-today,
.button:checked,.icon-button:checked,.message .message-header .message-expand-button:checked,.message .message-header .message-close-button:checked,.screenshot-ui-show-pointer-button:checked,.login-dialog-button.cancel-button:checked,.login-dialog-button.switch-user-button:checked,.login-dialog-button.login-dialog-session-list-button:checked {
    background-color:-st-accent-color;
}

