/*
Hide 'Extension' text in the address bar
*/
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse;
}

#identity-box.extensionPage:hover #identity-icon-label {
  visibility: visible;
}

/*
Hide close icon on tabs
*/

#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
  display:none!important
}

/*
Custom new-tab page favicon
*/
tab[label="New Tab"] .tab-icon-stack {
  background: url(file:///home/olivier/.mozilla/firefox/7x4ye1s9.default-release/chrome/new-tab.svg) no-repeat left bottom !important;
  filter: invert(.6);
  background-size:16px !important;
}

tab[label="New Tab"] .tab-icon-image {
  opacity:0;
}

/*
Panel colors
*/
#navigator-toolbox,
#sidebar-main {
  background: #0f0f0f !important;
}

toolbarbutton,
.button-background img,
.urlbar-icon,
#identity-box,
#notification-popup-box {
  fill: #bbb !important;
}

.titlebar-close {
  opacity: .8;
}

/*
Default panel borders 
(see tiny dot top-left)
*/
:root {
  --chrome-content-separator-color: none !important;
}

/*
Active tab indicator
*/
.tab-background {
  margin-inline:8px !important;
  
  &:is([selected], [multiselected]) {
    background-color:rgba(255,255,255,.1) !important;
  }
}

/*
Panel alignment
*/
#PanelUI-menu-button {
  padding-inline-end:inherit !important;
}

#tabs-newtab-button {
  margin-inline:8px !important;
}

/*
Hide default icons 
*/
#tracking-protection-icon-container {
  display: none !important;
}

/*
New tab [+] icon divider
*/
#tabs-newtab-button {
  position: relative;
  top:11px;
}

  #tabs-newtab-button:before {
    content:"";
    display: block;
    position: absolute;
    height:1px;
    width:100%;
    top:-5px;
    background:#fff2;
  }

/*
Rounded content border
*/
.browserStack > browser {
  border-radius: 15px;
  outline: 6px solid #0f0f0f !important;
}

  :root[inDOMFullscreen="true"] .browserStack > browser {
    border-radius: 0 !important;
    border:none !important;
    outline:none !important;
  }

/*
sidebar
*/
#sidebar-box {
  padding:0 !important;
}

#sidebar {
  border:none !important;
  background:#1c1b22 !important;
}

.tab-icon-stack,
.fxview-tab-list,
.sidebar-placesTreechildren {
  color:#ddd;
}

moz-card {
  border:none !important;
  background-color: #fff1 !important;
}

/*
Sidebar width
*/
.actions-list {
  & > moz-button:not(.tools-overflow) {
    --button-outer-padding-inline: 8px !important;
 }
}

#tabbrowser-tabs[orient="vertical"] {
  --tab-inline-padding:16px !important;
}
