/*
Hide 'Extension' text in the address bar
*/
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse;
}

#identity-box.extensionPage:hover #identity-icon-label {
  visibility: visible;
}

/*
Custom new-tab page favicon
*/
tab[label="New Tab"] .tab-content {
  background: url(file:///home/olivier/.dotfiles/home/.var/app/io.github.zen_browser.zen/new-tab.svg) no-repeat center !important;
  filter: invert(.6);
  background-size:20px !important;
}

tab[label="New Tab"] .tab-icon-stack {
  opacity:0;
}

/*
Panel colors
*/
#navigator-toolbox,
#sidebar-main {
  background: #111 !important;
}

#sidebar-main {
  z-index: 999;
}
/*
Default panel borders
*/
:root {
  --chrome-content-separator-color: none !important;
}

/*
Active tab indicator
*/
.tab-background {
  &:is([selected], [multiselected]) {
    background-color:rgba(255,255,255,.1) !important;
  }
}

/*
Hide default icons 
*/
#tracking-protection-icon-container {
  display: none !important;
}

/*
Show/hide tab panel icon
*/
#sidebar-button { 
  margin-left: 5px !important;
}

/*
Rounded content border
*/
.browserStack > browser {
  border-radius: 15px 0 0 0 !important;
  outline: 5px solid #111 !important;
  border-top:1px solid #333 !important;
  border-left:1px solid #333 !important;
}

  :root[sizemode="fullscreen"] .browserStack > browser {
    border-radius: 0 !important;
    border:none !important;
    outline:none !important;
  }

/*
Tab groups
*/
tab-group[collapsed=""] {
  display:block !important;
  max-height:30px;
  overflow: hidden !important;
}

.tab-group-label {
  display: block !important;
  border-radius: 0px !important;
  margin: 0 auto;
  font:700 11px/25px 'JetBrains Mono',sans-serif !important;
  max-width:57px;
  background:var(--tab-group-color) !important;
  border-left:1px solid var(--tab-group-color) !important;
}

  tab-group[collapsed=""] .tab-group-label {
    border:none !important; 
    border-left:1px solid var(--tab-group-color) !important;
    background:#fff2 !important;
  }

  /* 
  .tab-group-label:after {
    content:" ↓";
  }

    tab-group[collapsed=""] .tab-group-label:after {
        content:" ↑";
      }
   */

tab-group tab {
  background-color: #fff1 !important;  
}

tab-group tab:before {
  content:"";
  width:1px;
  height:100%;
  background:var(--tab-group-color);
  position:absolute;
}

  tab-group + tab {
    margin-top:5px !important;
  }

.tab-group-label-container {
  margin-inline-start: 0px !important;
  padding-inline-end: 0px !important;
  margin-top: 5px;
}

  .tab-group-line,
  .tab-group-label-container:after {
    opacity:0;
  }
